<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>JDA-SNEW</display-name>
	<servlet>
		<servlet-name>StartupHook</servlet-name>
		<!-- <display-name>Startup Hook</display-name> -->
		<servlet-class>com.jda.snew.servlets.StartupHook</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<listener>
		<listener-class>com.jda.snew.servlets.AppContextListener</listener-class>
	</listener>
</web-app>